@media screen and (max-width:1005px){
    .navbar{
        position: relative;
    }
    .menu {
    display: none;
    flex-direction: column;
    background: #111;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
  }

  .menu li {
    padding: 10px;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }

  .navbar-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
  }

    .logo{
        margin:0;
        text-align:center;
    }
    .header{
        padding-top:50px;
    }
    .headline{
        flex:100%;
        margin:5%;
        text-align:center;
    }
    .headline p{
        text-align:center;
    }
    .img-headline{
        flex:80%;
        margin:5%;
        text-align:center;
    } 

}
}
